:root{
    --color-pine:  rgb(12, 50, 44);
    --color-jungle: rgb(48, 186, 120);
    --color-mint: rgb(144, 235, 205);
    --color-persimmon: rgb(254, 124, 63);
    --color-midnight: rgb(25, 32, 114);
    --color-waterhole: rgb(36, 83, 255);
    --color-fog: rgb(239, 239, 239);
    --color-white: rgb(255, 255, 255);
    --color-jungle-0: rgb(12, 50, 44);
    --color-jungle-1: rgb(2, 89, 55);
    --color-jungle-2: rgb(0, 134, 87);
    --color-jungle-3: rgb(48, 186, 120);
    --color-jungle-4: rgb(66, 210, 159);
    --color-jungle-5: rgb(131, 225, 190);
    --color-jungle-6: rgb(192, 239, 222);
    --color-jungle-7: rgb(234, 250, 244);
    --color-pine-0: rgb(12, 50, 44);
    --color-pine-1: rgb(1, 86, 74);
    --color-pine-2: rgb(0, 136, 120);
    --color-pine-3: rgb(0, 189, 167);
    --color-pine-4: rgb(56, 213, 180);
    --color-pine-5: rgb(144, 235, 205);
    --color-pine-6: rgb(191, 241, 234);
    --color-pine-7: rgb(234, 250, 248);
    --color-persimmon-0: rgb(71, 25, 13);
    --color-persimmon-1: rgb(142, 40, 16);
    --color-persimmon-2: rgb(189, 51, 20);
    --color-persimmon-3: rgb(255, 90, 43);
    --color-persimmon-4: rgb(254, 124, 63);
    --color-persimmon-5: rgb(255, 177, 132);
    --color-persimmon-6: rgb(255, 211, 189);
    --color-persimmon-7: rgb(255, 239, 233);
    --color-blue-0: rgb(10, 17, 43);
    --color-blue-1: rgb(25, 32, 114);
    --color-blue-2: rgb(11, 65, 183);
    --color-blue-3: rgb(36, 83, 255);
    --color-blue-4: rgb(60, 142, 239);
    --color-blue-5: rgb(129, 174, 252);
    --color-blue-6: rgb(200, 218, 252);
    --color-blue-7: rgb(230, 237, 254);
    --color-fog-0: rgb(29, 29, 29);
    --color-fog-1: rgb(62, 62, 62);
    --color-fog-2: rgb(82, 82, 82);
    --color-fog-3: rgb(111, 111, 111);
    --color-fog-4: rgb(153, 153, 153);
    --color-fog-5: rgb(186, 186, 186);
    --color-fog-6: rgb(220, 219, 220);
    --color-fog-7: rgb(239, 239, 239);
    --color-white: rgb(255, 255, 255);
    --color--black: rgb(0, 0, 0);
    --color-spectrum-1: rgb(0, 189, 167);
    --color-spectrum-2: rgb(161, 239, 139); 
    --color-spectrum-3: rgb(125, 198, 226); 
    --color-spectrum-4: rgb(232, 193, 247); 
    --color-spectrum-5: rgb(93, 79, 153); 
    --color-spectrum-6: rgb(249, 202, 191); 
    --color-spectrum-7: rgb(252, 178, 68); 
    --color-spectrum-8: rgb(189, 51, 20); 
    }