:root{
    --color-white:       rgb(255, 255, 255);
    --color-black:       rgb( 0,    0,   0);

    --color-pine:        rgb( 12,  50,  44);
    --color-jungle:      rgb( 48, 186, 120);
    --color-mint:        rgb(144, 235, 205);
    --color-persimmon:   rgb(254, 124,  63);
    --color-midnight:    rgb( 25,  32, 114);
    --color-waterhole:   rgb( 36,  83, 255);
    --color-fog:         rgb(239, 239, 239);

    --color-jungle-1:    var(--color-pine);
    --color-jungle-2:    rgb(  2,  89,  55);
    --color-jungle-3:    rgb(  0, 134,  87);
    --color-jungle-4:    var(--color-jungle);
    --color-jungle-5:    rgb( 66, 210, 159);
    --color-jungle-6:    rgb(131, 225, 190);
    --color-jungle-7:    rgb(192, 239, 222);
    --color-jungle-8:    rgb(234, 250, 244);

    --color-pine-1:      var(--color-pine);
    --color-pine-2:      rgb(  1,  86,  74);
    --color-pine-3:      rgb(  0, 136, 120);
    --color-pine-4:      rgb(  0, 189, 167);
    --color-pine-5:      rgb( 56, 213, 180);
    --color-pine-6:      var(--color-mint);
    --color-pine-7:      rgb(191, 241, 234);
    --color-pine-8:      rgb(234, 250, 248);

    --color-persimmon-1: rgb( 71,  25,  13);
    --color-persimmon-2: rgb(142,  40,  16);
    --color-persimmon-3: rgb(189,  51,  20);
    --color-persimmon-4: rgb(255,  90,  43);
    --color-persimmon-5: rgb(254, 124,  63);
    --color-persimmon-6: rgb(255, 177, 132);
    --color-persimmon-7: rgb(255, 211, 189);
    --color-persimmon-8: rgb(255, 239, 233);

    --color-blue-1:      rgb( 10,  17,  43);
    --color-blue-2:      rgb( 25,  32, 114);
    --color-blue-3:      rgb( 11,  65, 183);
    --color-blue-4:      rgb( 36,  83, 255);
    --color-blue-5:      rgb( 60, 142, 239);
    --color-blue-6:      rgb(129, 174, 252);
    --color-blue-7:      rgb(200, 218, 252);
    --color-blue-8:      rgb(230, 237, 254);

    --color-fog-1:       rgb( 29,  29,  29);
    --color-fog-2:       rgb( 62,  62,  62);
    --color-fog-3:       rgb( 82,  82,  82);
    --color-fog-4:       rgb(111, 111, 111);
    --color-fog-5:       rgb(153, 153, 153);
    --color-fog-6:       rgb(186, 186, 186);
    --color-fog-7:       rgb(220, 219, 220);
    --color-fog-8:       rgb(239, 239, 239);

    --color-spectrum-1:  rgb(  0, 189, 167);
    --color-spectrum-2:  rgb(161, 239, 139); 
    --color-spectrum-3:  rgb(125, 198, 226); 
    --color-spectrum-4:  rgb(232, 193, 247); 
    --color-spectrum-5:  rgb( 93,  79, 153); 
    --color-spectrum-6:  rgb(249, 202, 191); 
    --color-spectrum-7:  rgb(252, 178,  68); 
    --color-spectrum-8:  rgb(189,  51,  20); 

    /*helper variables*/
    --color-teal:     var(--color-spectrum-1);
    --color-lime:     var(--color-spectrum-2);
    --color-sky:      var(--color-spectrum-3);
    --color-lilac:    var(--color-spectrum-4);
    --color-amethyst: var(--color-spectrum-5);
    --color-grape:    var(--color-spectrum-5);
    --color-peach:    var(--color-spectrum-6);
    --color-marigold: var(--color-spectrum-7);
    --color-orange:   var(--color-spectrum-7);
    --color-red:      var(--color-spectrum-8);
    --color-rust:     var(--color-spectrum-8);
    }

/*helper classes*/
.suse-pl-bg-white        {background-color:var(--color-white)}
.suse-pl-bg-black        {background-color:var(--color-black)}

.suse-pl-bg-pine       {background-color:var(--color-pine)}
.suse-pl-bg-pine-0     {background-color:var(--color-pine-0)}
.suse-pl-bg-pine-1     {background-color:var(--color-pine-1)}
.suse-pl-bg-pine-2     {background-color:var(--color-pine-2)}
.suse-pl-bg-pine-3     {background-color:var(--color-pine-3)}
.suse-pl-bg-pine-4     {background-color:var(--color-pine-4)}
.suse-pl-bg-pine-5     {background-color:var(--color-pine-5)}
.suse-pl-bg-pine-6     {background-color:var(--color-pine-6)}
.suse-pl-bg-pine-7     {background-color:var(--color-pine-7)}

.suse-pl-bg-jungle     {background-color:var(--color-jungle)}
.suse-pl-bg-jungle-0   {background-color:var(--color-jungle-0)}
.suse-pl-bg-jungle-1   {background-color:var(--color-jungle-1)}
.suse-pl-bg-jungle-2   {background-color:var(--color-jungle-2)}
.suse-pl-bg-jungle-3   {background-color:var(--color-jungle-3)}
.suse-pl-bg-jungle-4   {background-color:var(--color-jungle-4)}
.suse-pl-bg-jungle-5   {background-color:var(--color-jungle-5)}
.suse-pl-bg-jungle-6   {background-color:var(--color-jungle-6)}
.suse-pl-bg-jungle-7   {background-color:var(--color-jungle-7)}

.suse-pl-bg-mint       {background-color:var(--color-mint)}
.suse-pl-bg-mint-0     {background-color:var(--color-mint-0)}
.suse-pl-bg-mint-1     {background-color:var(--color-mint-1)}
.suse-pl-bg-mint-2     {background-color:var(--color-mint-2)}
.suse-pl-bg-mint-3     {background-color:var(--color-mint-3)}
.suse-pl-bg-mint-4     {background-color:var(--color-mint-4)}
.suse-pl-bg-mint-5     {background-color:var(--color-mint-5)}
.suse-pl-bg-mint-6     {background-color:var(--color-mint-6)}
.suse-pl-bg-mint-7     {background-color:var(--color-mint-7)}

.suse-pl-bg-persimmon  {background-color:var(--color-persimmon)}
.suse-pl-bg-persimmon-0{background-color:var(--color-persimmon-0)}
.suse-pl-bg-persimmon-1{background-color:var(--color-persimmon-1)}
.suse-pl-bg-persimmon-2{background-color:var(--color-persimmon-2)}
.suse-pl-bg-persimmon-3{background-color:var(--color-persimmon-3)}
.suse-pl-bg-persimmon-4{background-color:var(--color-persimmon-4)}
.suse-pl-bg-persimmon-5{background-color:var(--color-persimmon-5)}
.suse-pl-bg-persimmon-6{background-color:var(--color-persimmon-6)}
.suse-pl-bg-persimmon-7{background-color:var(--color-persimmon-7)}

.suse-pl-bg-blue       {background-color:var(--color-blue)}
.suse-pl-bg-blue-0     {background-color:var(--color-blue-0)}
.suse-pl-bg-blue-1     {background-color:var(--color-blue-1)}
.suse-pl-bg-blue-2     {background-color:var(--color-blue-2)}
.suse-pl-bg-blue-3     {background-color:var(--color-blue-3)}
.suse-pl-bg-blue-4     {background-color:var(--color-blue-4)}
.suse-pl-bg-blue-5     {background-color:var(--color-blue-5)}
.suse-pl-bg-blue-6     {background-color:var(--color-blue-6)}
.suse-pl-bg-blue-7     {background-color:var(--color-blue-7)}

.suse-pl-bg-fog        {background-color:var(--color-fog)}
.suse-pl-bg-fog-0      {background-color:var(--color-fog-0)}
.suse-pl-bg-fog-1      {background-color:var(--color-fog-1)}
.suse-pl-bg-fog-2      {background-color:var(--color-fog-2)}
.suse-pl-bg-fog-3      {background-color:var(--color-fog-3)}
.suse-pl-bg-fog-4      {background-color:var(--color-fog-4)}
.suse-pl-bg-fog-5      {background-color:var(--color-fog-5)}
.suse-pl-bg-fog-6      {background-color:var(--color-fog-6)}
.suse-pl-bg-fog-7      {background-color:var(--color-fog-7)}

.suse-pl-bg-spectrum-1 {background-color:var(--color-spectrum-1)}
.suse-pl-bg-spectrum-2 {background-color:var(--color-spectrum-2)}
.suse-pl-bg-spectrum-3 {background-color:var(--color-spectrum-3)}
.suse-pl-bg-spectrum-4 {background-color:var(--color-spectrum-4)}
.suse-pl-bg-spectrum-5 {background-color:var(--color-spectrum-5)}
.suse-pl-bg-spectrum-6 {background-color:var(--color-spectrum-6)}
.suse-pl-bg-spectrum-7 {background-color:var(--color-spectrum-7)}

.suse-pl-text-white       {color:var(--color-white)}
.suse-pl-text-black       {color:var(--color-black)}


.suse-pl-text-pine       {color:var(--color-pine)}
.suse-pl-text-pine-0     {color:var(--color-pine-0)}
.suse-pl-text-pine-1     {color:var(--color-pine-1)}
.suse-pl-text-pine-2     {color:var(--color-pine-2)}
.suse-pl-text-pine-3     {color:var(--color-pine-3)}
.suse-pl-text-pine-4     {color:var(--color-pine-4)}
.suse-pl-text-pine-5     {color:var(--color-pine-5)}
.suse-pl-text-pine-6     {color:var(--color-pine-6)}
.suse-pl-text-pine-7     {color:var(--color-pine-7)}

.suse-pl-text-jungle     {color:var(--color-jungle)}
.suse-pl-text-jungle-0   {color:var(--color-jungle-0)}
.suse-pl-text-jungle-1   {color:var(--color-jungle-1)}
.suse-pl-text-jungle-2   {color:var(--color-jungle-2)}
.suse-pl-text-jungle-3   {color:var(--color-jungle-3)}
.suse-pl-text-jungle-4   {color:var(--color-jungle-4)}
.suse-pl-text-jungle-5   {color:var(--color-jungle-5)}
.suse-pl-text-jungle-6   {color:var(--color-jungle-6)}
.suse-pl-text-jungle-7   {color:var(--color-jungle-7)}

.suse-pl-text-mint       {color:var(--color-mint)}
.suse-pl-text-mint-0     {color:var(--color-mint-0)}
.suse-pl-text-mint-1     {color:var(--color-mint-1)}
.suse-pl-text-mint-2     {color:var(--color-mint-2)}
.suse-pl-text-mint-3     {color:var(--color-mint-3)}
.suse-pl-text-mint-4     {color:var(--color-mint-4)}
.suse-pl-text-mint-5     {color:var(--color-mint-5)}
.suse-pl-text-mint-6     {color:var(--color-mint-6)}
.suse-pl-text-mint-7     {color:var(--color-mint-7)}

.suse-pl-text-persimmon  {color:var(--color-persimmon)}
.suse-pl-text-persimmon-0{color:var(--color-persimmon-0)}
.suse-pl-text-persimmon-1{color:var(--color-persimmon-1)}
.suse-pl-text-persimmon-2{color:var(--color-persimmon-2)}
.suse-pl-text-persimmon-3{color:var(--color-persimmon-3)}
.suse-pl-text-persimmon-4{color:var(--color-persimmon-4)}
.suse-pl-text-persimmon-5{color:var(--color-persimmon-5)}
.suse-pl-text-persimmon-6{color:var(--color-persimmon-6)}
.suse-pl-text-persimmon-7{color:var(--color-persimmon-7)}

.suse-pl-text-blue       {color:var(--color-blue)}
.suse-pl-text-blue-0     {color:var(--color-blue-0)}
.suse-pl-text-blue-1     {color:var(--color-blue-1)}
.suse-pl-text-blue-2     {color:var(--color-blue-2)}
.suse-pl-text-blue-3     {color:var(--color-blue-3)}
.suse-pl-text-blue-4     {color:var(--color-blue-4)}
.suse-pl-text-blue-5     {color:var(--color-blue-5)}
.suse-pl-text-blue-6     {color:var(--color-blue-6)}
.suse-pl-text-blue-7     {color:var(--color-blue-7)}

.suse-pl-text-fog        {color:var(--color-fog)}
.suse-pl-text-fog-0      {color:var(--color-fog-0)}
.suse-pl-text-fog-1      {color:var(--color-fog-1)}
.suse-pl-text-fog-2      {color:var(--color-fog-2)}
.suse-pl-text-fog-3      {color:var(--color-fog-3)}
.suse-pl-text-fog-4      {color:var(--color-fog-4)}
.suse-pl-text-fog-5      {color:var(--color-fog-5)}
.suse-pl-text-fog-6      {color:var(--color-fog-6)}
.suse-pl-text-fog-7      {color:var(--color-fog-7)}

.suse-pl-text-spectrum-1 {color:var(--color-spectrum-1)}
.suse-pl-text-spectrum-2 {color:var(--color-spectrum-2)}
.suse-pl-text-spectrum-3 {color:var(--color-spectrum-3)}
.suse-pl-text-spectrum-4 {color:var(--color-spectrum-4)}
.suse-pl-text-spectrum-5 {color:var(--color-spectrum-5)}
.suse-pl-text-spectrum-6 {color:var(--color-spectrum-6)}
.suse-pl-text-spectrum-7 {color:var(--color-spectrum-7)}

/* UI Theme Classes */

